.footer {
	&__bottom {
		background: $lightDimGreen;
	}

	&__wrap {
		&--top {
			padding: 50px 0 45px;
			display: flex;

			@media screen and (max-width: 1365px) {
				width: 100%;
				display: flex;
				flex-flow: column;
				align-items: center;
				padding: 40px 0 30px;
			}
		}
	}
}
