.nav {
	&--header {
		padding: 0 90px;
		position: relative;
		flex: 1 1 auto;

		&:before {
			content: '';
			position: absolute;
			right: 0;
			top: 50%;
			height: 30px;
			width: 1px;
			transform: translateY(-50%);
			background: rgba($white, .8);
		}
	}

	&--footer {
		padding: 0 25px;
	}

	&__menu {
		display: flex;

		&--header {
			flex: 1 0 auto;
			justify-content: space-between;
		}
	}

	&__item {
		&--header {
			&:not(:last-child) {
				margin-right: 25px;
			}
		}

		&--footer {
			&:not(:last-child) {
				margin-right: 65px;
			}
		}

		&--drop {
			position: relative;
		}

		&--sub {
			text-align: center;

			&:not(:last-child) {
				border-bottom: 1px solid $darkGray;
			}
		}
	}

	&__link {
		display: block;
		color: $white;
		font-weight: 400;
		transition: background .25s ease-in-out, box-shadow .25s ease-in-out, color .25s ease-in-out;

		&:hover {
			background: $darkGray;
		}

		&--header {
			font: 18px/27px $OpenSans;
			padding: 25px;

		}

		&--footer {
			font: 16px/25px $OpenSans;
			padding: 25px;
		}

		&--sub {
			font: 16px/25px $OpenSans;
			color: $darkGray;
			padding: 15px;

			&:hover {
				color: $white;
			}
		}

		&--drop {
			display: flex;
			align-items: center;
		}
	}

	&__submenu {
		// display: none;
		position: absolute;
		top: 65px;
		left: 40px;
		width: 185px;
		padding: 10px 0;
		background: $white;
		box-shadow:  0 5px 10px 0 rgba($darkGray, .5);
		z-index: 10;
	}

	&__text {
		&--drop {
			padding-right: 10px;
		}
	}
}
