.nav {
	&--header {
		padding: 25px 90px;
	}

	&--footer {
		padding: 25px;
	}

	&__menu {
		display: flex;
	}

	&__item {
		&--header {
			&:not(:last-child) {
				margin-right: 105px;
			}
		}

		&--footer {
			&:not(:last-child) {
				margin-right: 65px;
			}
		}
	}

	&__link {
		color: $white;
		font: 16px/25px $OpenSans;
		font-weight: 400;
	}

	&__submenu {
		display: none;
	}
}
