.nav {
	padding: 25px 88px;
	
	&__menu {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 107px;
		}
	}

	&__link {
		color: $white;
		font: 16px/25px $OpenSans;
		font-weight: 400;
	}

	&__submenu {
		display: none;
	}
}
