.contacts
	.contacts__block(data-name="Anschrift")
		h4.contacts__title.text.text--small-cont Optik Béla Ellinger GmbH
		p.contacts__item.contacts__item--address
			span.contacts__text.text.text.text--small-cont Praterstraße 30
			span.contacts__text.text.text--small-cont 1020 Wien
	.contacts__block(data-name="Kontaktaufnahme")
		h4.contacts__title.text.text--small-cont Kontaktaufnahme
		a.contacts__item.contacts__item--link(href="tel:+012141280")
			span.contacts__text.contacts__text--link.text.text--small-cont Telefon:
			span.contacts__text.text.text--small-cont 01/214 12 80
		a.contacts__item.contacts__item--link(href="mailto:office@optiker-ellinger.at")
			span.contacts__text.contacts__text--link.text.text--small-cont E-Mail:
			span.contacts__text.contacts__text--mail.text.text--small-cont office@optiker-ellinger.at
	.contacts__block(data-name="Öffnungszeiten")
		h4.contacts__title.text.text--small-cont Öffnungszeiten
		time.contacts__item.contacts__item--time(datetime="T9H")
			span.contacts__text.contacts__text--time.text.text--small-cont Montag - Freitag:
			span.contacts__text.text.text--small-cont 09:00 - 18:00 Uhr
		time.contacts__item.contacts__item--time(datetime="T3H")
			span.contacts__text.contacts__text--time.text.text--small-cont Samstag:
			span.contacts__text.text.text--small-cont 09:00 - 12:00 Uhr
