.contacts
	.contacts__block
		h4.contacts__title Optik Béla Ellinger GmbH
		p.contacts__item.contacts__item--address
			span.contacts__text Praterstraße 30
			span.contacts__text 1020 Wien
	.contacts__block
		h4.contacts__title Kontaktaufnahme
		a.contacts__item.contacts__item--link(href="tel:+012141280")
			span.contacts__text.contacts__text--link Telefon:
			span.contacts__text 01/214 12 80
		a.contacts__item.contacts__item--link(href="mailto:office@optiker-ellinger.at")
			span.contacts__text.contacts__text--link E-Mail:
			span.contacts__text.contacts__text--mail office@optiker-ellinger.at
	.contacts__block
		h4.contacts__title Öffnungszeiten
		time.contacts__item.contacts__item--time(datetime="T9H")
			span.contacts__text.contacts__text--time Montag - Freitag:
			span.contacts__text 09:00 - 18:00 Uhr
		time.contacts__item.contacts__item--time(datetime="T3H")
			span.contacts__text.contacts__text--time Samstag:
			span.contacts__text 09:00 - 12:00 Uhr
