include ../mixins/contacts
include ../mixins/picture

footer.footer
	.footer__top
		.container
			.footer__wrap.footer__wrap--top
				a.btn.btn--logo(href="/")
					+picture('logo', 'logo')
							
				+contacts('footer')
	.footer__bottom
		.container
			nav.nav.nav--footer
				
				- const footerMenu = ["Anfahrt", "Datenschutzerklärung", "Impressum"];
				
				ul.nav__menu.nav__menu--footer
					each footerMenuItem in footerMenu
						li.nav__item.nav__item--footer
							a.nav__link.nav__link--footer.text.text--small-cont(href="#")=footerMenuItem
