header.header
	.header__top
		.container
			.header__wrap.header__wrap--top
				a.btn.btn--home(href="#")
					| Startseite
				
				nav.nav.nav--header
					
					- const headerMenu = ["Brillengläser", "Brillenfassungen", "Kontaktlinsen", "Aktionen", "Kontakt"];
					- const headerSubmenu = ["Einstärkengläser", "Bildschirmbrillen", "Gleitsichtbrillen"];
					
					ul.nav__menu.nav__menu--header
						each headerMenuItem in headerMenu
							if (headerMenuItem != "Aktionen" && headerMenuItem != "Kontakt")
								li.nav__item.nav__item--drop.nav__item--header
									a.nav__link.nav__link--drop.nav__link--header(href="#")
										span.nav__text.nav__text--drop=headerMenuItem
										svg.icon.icon--dropdown
											use.icon__item(xlink:href="#dropdown")
									ul.nav__submenu
										each headerSubmenuItem in headerSubmenu
											li.nav__item.nav__item--sub
												a.nav__link.nav__link--sub(href="#")=headerSubmenuItem
							else
								li.nav__item.nav__item--header
									a.nav__link.nav__link--header(href="#")=headerMenuItem
									
				a.btn.btn--text-size(href="#")
					small.btn__text.btn__text--small A
					small.btn__text.btn__text--mid A
					small.btn__text.btn__text--large A
	.header__bottom
		.container
			.header__wrap.header__wrap--bottom
				a.btn.btn--logo(href="/")
					picture.img.img--logo
						source.img__item(srcset='img/logo.webp' type="image/webp")
						source.img__item(srcset='img/logo.jp2' type="image/jp2")
						img.img__item(src="img/logo.png" alt="logo")
							
				include contacts
