include ../mixins/contacts
include ../mixins/picture

header.header
	.header__top
		.container
			.header__wrap.header__wrap--top
				a.btn.btn--home.text.text--content(href="#")
					| Startseite
				
				nav.nav.nav--header
					
					- const headerMenu = ["Brillengläser", "Brillenfassungen", "Kontaktlinsen", "Aktionen", "Kontakt"];
					- const headerSubmenu = ["Einstärkengläser", "Bildschirmbrillen", "Gleitsichtbrillen"];
					
					ul.nav__menu.nav__menu--header
						each headerMenuItem in headerMenu
							if (headerMenuItem != "Aktionen" && headerMenuItem != "Kontakt")
								li.nav__item.nav__item--drop.nav__item--header
									a.nav__link.nav__link--drop.nav__link--header(href="#")
										span.nav__text.nav__text--drop.text.text--content=headerMenuItem
										svg.icon.icon--dropdown
											use.icon__item(xlink:href="#dropdown")
									ul.nav__submenu.nav__submenu--header
										each headerSubmenuItem in headerSubmenu
											li.nav__item.nav__item--sub
												a.nav__link.nav__link--sub.text.text--small-cont(href="#")=headerSubmenuItem
							else
								li.nav__item.nav__item--header
									a.nav__link.nav__link--header.text.text--content(href="#")=headerMenuItem
									
				a.btn.btn--burger.text.text--content(href="#")
					| Menü
									
				a.btn.btn--text-size(href="#")
					small.btn__text.btn__text--small A
					small.btn__text.btn__text--mid A
					small.btn__text.btn__text--large A
	.header__bottom
		.container
			.header__wrap.header__wrap--bottom
				a.btn.btn--logo(href="/")
					+pictire('logo', 'logo')
							
				+contacts('header')

		- const contactBtns = ['Anschrift', 'Kontaktaufnahme', 'Öffnungszeiten'];
		
		.wrap.wrap--contacts
			each contactBtnsItem in contactBtns
				a.btn.btn--contact.text.text--content(href="#" data-name=contactBtnsItem)=contactBtnsItem
