header.header
	.header__top
		.container
			.header__wrap.header__wrap--top
				a.btn.btn--home(href="#")
					| Startseite
				
				nav.nav.nav--header
					
					- const headerMenu = ["Brillengläser", "Brillenfassungen", "Kontaktlinsen", "Aktionen", "Kontakt"];
					- const headerSubmenu = ["Einstärkengläser", "Bildschirmbrillen", "Gleitsichtbrillen"];
					
					ul.nav__menu
						each headerMenuItem in headerMenu
							li.nav__item.nav__item--header
								a.nav__link(href="#")=headerMenuItem
								
								if (headerMenuItem != "Aktionen" || headerMenuItem != "Kontakt")
									ul.nav__submenu
										li.nav__item
											a.nav__link(href="#")=headerSubmenu
									
			a.btn.btn--text-size(href="#")
	.header__bottom
		.container
			.header__wrap.header__wrap--bottom
				a.btn.btn--logo(href="/")
					picture.img.img--logo
						source.img__item(srcset='img/logo.webp' type="image/webp")
						source.img__item(srcset='img/logo.jp2' type="image/jp2")
						img.img__item(src="img/logo.png" alt="logo")
							
				include contacts
