.btn {
	cursor: pointer;
	display: inline-block;

	// &--logo {
	// 	color: $white;
	// 	font: 18px/25px $OpenSans;
	// 	background: $darkGray;
	// 	padding: 15px 20px;
	// }

	&--logo {
		width: 410px;
		flex: 0 0 auto;
		margin-left: -15px;
		margin-right: 110px;
	}
}
