.content {
	column-count: 2;
	column-gap: 40px;

	h3 {
		font: 30px $Lora;
		color: $darkGray;
		margin: 50px 0 15px;
		letter-spacing: -.05em;
	}

	p {
		font: 18px/27px $OpenSans;
		color: $darkGray;
		letter-spacing: -.05em;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}
