.contacts {
	display: flex;

	@media screen and (max-width: 1365px) {
		justify-content: space-around;
		width: 100%;
	}

	&--footer {
		@media screen and (max-width: 1023px) {
			flex-flow: column;
			align-items: flex-start;
			width: 100%;
			max-width: 300px;
			margin-left: 65px;
		}

		@media screen and (max-width: 767px) {
			margin-left: 0;
		}
	}

	&__block {
		display: block;

		&:not(:last-child) {
			margin-right: 65px;

			@media screen and (max-width: 1599px) {
				margin-right: 50px;
			}

			@media screen and (max-width: 1365px) {
				margin-right: 30px;
			}
		}

		&--header {
			@media screen and (max-width: 1023px) {
				display: none;
			}
			
			&:not(:last-child) {
				@media screen and (max-width: 1023px) {
					margin-right: 0;
				}
			}
		}

		&--footer {
			&:not(:last-child) {
				@media screen and (max-width: 1023px) {
					margin-bottom: 0;
					margin-bottom: 20px;
				}
			}
		}
	}

	&__item {
		display: flex;

		&--address {
			flex-flow: column;
		}

		&--time {
			justify-content: space-between;
		}
	}

	&__title {
		font-weight: 600;
		color: $darkGray;
	}

	&__text {
		font-weight: 400;
		color: $darkGray;

		&--link {
			margin-right: 5px;
		}

		&--mail {
			color: $dimGreen;
			letter-spacing: .015em;
		}

		&--time {
			margin-right: 15px;
		}
	}
}
