.icon {
	&--glass {
		width: 74px;

		&-old-gl {
			height: 32px;
		}

		&-glasses {
			height: 44px;
		}

		&-lenses {
			height: 34px;
		}
	}

	&--check {
		width: 21px;
		height: 22px;
	}

	&--user {
		width: 22px;
		height: 27px;
	}

	&--phone {
		width: 22px;
		height: 24px;
	}

	&--calendar {
		width: 26px;
		height: 31px;
	}

	&--mess {
		width: 28px;
		height: 25px;
	}
}
