.represent {
	padding: 235px 20px 245px;

	@media screen and (max-width: 1599px) {
		padding-top: 200px;
		padding-bottom: 200px;
	}

	@media screen and (max-width: 1365px) {
		padding-top: 150px;
		padding-bottom: 150px;
	}

	&__title-wrap {
		margin-bottom: 35px;

		@media screen and (max-width: 1599px) {
			margin-bottom: 25px;
		}

		@media screen and (max-width: 1365px) {
			margin-bottom: 20px;
		}
	}

	&__title {
		&--main {
			font: 50px $Lora;
			font-weight: 400;
			letter-spacing: -.05em;
			color: $darkGray;

			@media screen and (max-width: 1599px) {
				font-size: 46px;
			}

			@media screen and (max-width: 1365px) {
				font-size: 42px;
			}
		}

		&--subtitle {
			font: 35px $OpenSans;
			font-weight: 400;
			letter-spacing: -.05em;
			color: $darkGray;

			@media screen and (max-width: 1599px) {
				font-size: 30px;
			}

			@media screen and (max-width: 1365px) {
				font-size: 26px;
			}
		}
	}

	&__descrip {
		font-weight: 400;
		color: $darkGray;
		font: 25px/35px $Lato;
		max-width: 600px;
		letter-spacing: -.05em;
		margin-bottom: 35px;

		@media screen and (max-width: 1599px) {
			font-size: 22px;
			line-height: 30px;
			max-width: 560px;
			margin-bottom: 30px;
		}

		@media screen and (max-width: 1365px) {
			font-size: 20px;
			line-height: 26px;
			max-width: 420px;
			margin-bottom: 25px;
		}
	}

	&__info {
		display: inline-flex;
		align-items: center;
		background: $darkGray;
		padding: 20px 40px;

		@media screen and (max-width: 1599px) {
			padding: 15px 25px;
		}

		@media screen and (max-width: 1365px) {
			padding: 10px 15px;
		}
	}

	&__text {
		color: $white;
		letter-spacing: -.05em;
		font: 18px/35px $OpenSans;

		@media screen and (max-width: 1365px) {
			font-size: 16px;
			line-height: 28px;
		}

		&--info {
			font-weight: 400;
		}

		&--highlight {
			font-weight: 700;
		}
	}

	&__phone {
		color: $white;
		font-weight: 400;
		margin-left: 15px;
		display: flex;
		align-items: center;
		flex: 0 0 auto;
	}

	&__num {
		margin-left: 10px;
	}
}
