.slider {
	width: 935px;
	height: 100%;
	margin-right: -215px;

	@media screen and (max-width: 1599px) {
		width: 665px;
		margin-right: 0;
	}

	@media screen and (max-width: 1365px) {
		width: 515px;
	}

	@media screen and (max-width: 1023px) {
		height: 440px;
		width: 100%;
		order: 1;
	}

	@media screen and (max-width: 767px) {
		height: 300px;
	}

	@media screen and (max-width: 374px) {
		height: 260px;
	}

	&__content {
		height: 100%;
	}

	&__slide {
		display: flex;
		align-items: center;
		height: 100%;
	}
}
