.slider {
	width: 935px;
	height: 100%;
	margin-right: -215px;

	@media screen and (max-width: 1599px) {
		width: 50%;
		flex: 1 0 auto;
		margin-right: 0;
	}

	@media screen and (max-width: 1365px) {
		width: 52%;
	}

	&__content {
		height: 100%;
	}

	&__slide {
		display: flex;
		align-items: center;
		height: 100%;
	}
}
