.wrap {
	&--contacts {
		display: none;
		background: $lightDimGreen;

		@media screen and (max-width: 1023px) {
			display: flex;
			justify-content: center;
		}

		@media screen and (max-width: 767px) {
			flex-flow: column;
			align-items: center;
			width: 100%;
		}
	}

	&--teasers {
		display: flex;
		flex-flow: wrap;

		@media screen and (max-width: 767px) {
			flex-flow: column wrap;
			width: 100%;
		}
	}
}
