
<div class="burger">
  <nav class="nav nav--burger">
    <ul class="nav__menu nav__menu--burger">
      <li class="nav__item nav__item--drop nav__item--burger"><a class="nav__link nav__link--drop nav__link--burger" href="#"><span class="nav__text nav__text--drop">Brillengläser</span>
          <svg class="icon icon--dropdown">
            <use class="icon__item" xlink:href="#dropdown"></use>
          </svg></a>
        <ul class="nav__submenu nav__submenu--burger">
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Einstärkengläser</a></li>
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Bildschirmbrillen</a></li>
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Gleitsichtbrillen</a></li>
        </ul>
      </li>
      <li class="nav__item nav__item--drop nav__item--burger"><a class="nav__link nav__link--drop nav__link--burger" href="#"><span class="nav__text nav__text--drop">Brillenfassungen</span>
          <svg class="icon icon--dropdown">
            <use class="icon__item" xlink:href="#dropdown"></use>
          </svg></a>
        <ul class="nav__submenu nav__submenu--burger">
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Einstärkengläser</a></li>
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Bildschirmbrillen</a></li>
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Gleitsichtbrillen</a></li>
        </ul>
      </li>
      <li class="nav__item nav__item--drop nav__item--burger"><a class="nav__link nav__link--drop nav__link--burger" href="#"><span class="nav__text nav__text--drop">Kontaktlinsen</span>
          <svg class="icon icon--dropdown">
            <use class="icon__item" xlink:href="#dropdown"></use>
          </svg></a>
        <ul class="nav__submenu nav__submenu--burger">
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Einstärkengläser</a></li>
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Bildschirmbrillen</a></li>
          <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub text text--small-cont" href="#">Gleitsichtbrillen</a></li>
        </ul>
      </li>
      <li class="nav__item nav__item--burger"><a class="nav__link nav__link--burger" href="#">Aktionen</a></li>
      <li class="nav__item nav__item--burger"><a class="nav__link nav__link--burger" href="#">Kontakt</a></li>
    </ul>
  </nav><a class="btn btn--close" href="#">
    <svg class="icon icon--close">
      <use class="icon__item" xlink:href="#close"></use>
    </svg></a>
</div>