
<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__wrap footer__wrap--top"><a class="btn btn--logo" href="/">
          <picture class="img img--logo">
            <source class="img__item" srcset="img/logo.webp" type="image/webp"/>
            <source class="img__item" srcset="img/logo.jp2" type="image/jp2"/><img class="img__item" src="img/logo.png" alt="logo"/>
          </picture></a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <nav class="nav nav--footer">
        <ul class="nav__menu nav__menu--footer">
          <li class="nav__item nav__item--footer"><a class="nav__link nav__link--footer text text--small-cont" href="#">Anfahrt</a></li>
          <li class="nav__item nav__item--footer"><a class="nav__link nav__link--footer text text--small-cont" href="#">Datenschutzerklärung</a></li>
          <li class="nav__item nav__item--footer"><a class="nav__link nav__link--footer text text--small-cont" href="#">Impressum</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>