
<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__wrap footer__wrap--top"><a class="btn btn--logo" href="/">
          <picture class="img img--logo">
            <source class="img__item" srcset="img/logo.webp" type="image/webp"/>
            <source class="img__item" srcset="img/logo.jp2" type="image/jp2"/><img class="img__item" src="img/logo.png" alt="logo"/>
          </picture></a>
        <div class="contacts">
          <div class="contacts__block" data-name="Anschrift">
            <h4 class="contacts__title text text--small-cont">Optik Béla Ellinger GmbH</h4>
            <p class="contacts__item contacts__item--address"><span class="contacts__text text text text--small-cont">Praterstraße 30</span><span class="contacts__text text text--small-cont">1020 Wien</span></p>
          </div>
          <div class="contacts__block" data-name="Kontaktaufnahme">
            <h4 class="contacts__title text text--small-cont">Kontaktaufnahme</h4><a class="contacts__item contacts__item--link" href="tel:+012141280"><span class="contacts__text contacts__text--link text text--small-cont">Telefon:</span><span class="contacts__text text text--small-cont">01/214 12 80</span></a><a class="contacts__item contacts__item--link" href="mailto:office@optiker-ellinger.at"><span class="contacts__text contacts__text--link text text--small-cont">E-Mail:</span><span class="contacts__text contacts__text--mail text text--small-cont">office@optiker-ellinger.at</span></a>
          </div>
          <div class="contacts__block" data-name="Öffnungszeiten">
            <h4 class="contacts__title text text--small-cont">Öffnungszeiten</h4>
            <time class="contacts__item contacts__item--time" datetime="T9H"><span class="contacts__text contacts__text--time text text--small-cont">Montag - Freitag:</span><span class="contacts__text text text--small-cont">09:00 - 18:00 Uhr</span></time>
            <time class="contacts__item contacts__item--time" datetime="T3H"><span class="contacts__text contacts__text--time text text--small-cont">Samstag:</span><span class="contacts__text text text--small-cont">09:00 - 12:00 Uhr</span></time>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <nav class="nav nav--footer">
        <ul class="nav__menu nav__menu--footer">
          <li class="nav__item nav__item--footer"><a class="nav__link nav__link--footer text text--small-cont" href="#">Anfahrt</a></li>
          <li class="nav__item nav__item--footer"><a class="nav__link nav__link--footer text text--small-cont" href="#">Datenschutzerklärung</a></li>
          <li class="nav__item nav__item--footer"><a class="nav__link nav__link--footer text text--small-cont" href="#">Impressum</a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>