
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__wrap header__wrap--top"><a class="btn btn--home" href="#">Startseite</a>
        <nav class="nav nav--header">
          <ul class="nav__menu nav__menu--header">
            <li class="nav__item nav__item--drop nav__item--header"><a class="nav__link nav__link--drop nav__link--header" href="#"><span class="nav__text nav__text--drop">Brillengläser</span>
                <svg class="icon icon--dropdown">
                  <use class="icon__item" xlink:href="#dropdown"></use>
                </svg></a>
              <ul class="nav__submenu">
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Einstärkengläser</a></li>
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Bildschirmbrillen</a></li>
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Gleitsichtbrillen</a></li>
              </ul>
            </li>
            <li class="nav__item nav__item--drop nav__item--header"><a class="nav__link nav__link--drop nav__link--header" href="#"><span class="nav__text nav__text--drop">Brillenfassungen</span>
                <svg class="icon icon--dropdown">
                  <use class="icon__item" xlink:href="#dropdown"></use>
                </svg></a>
              <ul class="nav__submenu">
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Einstärkengläser</a></li>
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Bildschirmbrillen</a></li>
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Gleitsichtbrillen</a></li>
              </ul>
            </li>
            <li class="nav__item nav__item--drop nav__item--header"><a class="nav__link nav__link--drop nav__link--header" href="#"><span class="nav__text nav__text--drop">Kontaktlinsen</span>
                <svg class="icon icon--dropdown">
                  <use class="icon__item" xlink:href="#dropdown"></use>
                </svg></a>
              <ul class="nav__submenu">
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Einstärkengläser</a></li>
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Bildschirmbrillen</a></li>
                <li class="nav__item nav__item--sub"><a class="nav__link nav__link--sub" href="#">Gleitsichtbrillen</a></li>
              </ul>
            </li>
            <li class="nav__item nav__item--header"><a class="nav__link nav__link--header" href="#">Aktionen</a></li>
            <li class="nav__item nav__item--header"><a class="nav__link nav__link--header" href="#">Kontakt</a></li>
          </ul>
        </nav><a class="btn btn--text-size" href="#"><small class="btn__text btn__text--small">A</small><small class="btn__text btn__text--mid">A</small><small class="btn__text btn__text--large">A</small></a>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <div class="header__wrap header__wrap--bottom"><a class="btn btn--logo" href="/">
          <picture class="img img--logo">
            <source class="img__item" srcset="img/logo.webp" type="image/webp"/>
            <source class="img__item" srcset="img/logo.jp2" type="image/jp2"/><img class="img__item" src="img/logo.png" alt="logo"/>
          </picture></a>
        <div class="contacts">
          <div class="contacts__block">
            <h4 class="contacts__title">Optik Béla Ellinger GmbH</h4>
            <p class="contacts__item contacts__item--address"><span class="contacts__text">Praterstraße 30</span><span class="contacts__text">1020 Wien</span></p>
          </div>
          <div class="contacts__block">
            <h4 class="contacts__title">Kontaktaufnahme</h4><a class="contacts__item contacts__item--link" href="tel:+012141280"><span class="contacts__text contacts__text--link">Telefon:</span><span class="contacts__text">01/214 12 80</span></a><a class="contacts__item contacts__item--link" href="mailto:office@optiker-ellinger.at"><span class="contacts__text contacts__text--link">E-Mail:</span><span class="contacts__text contacts__text--mail">office@optiker-ellinger.at</span></a>
          </div>
          <div class="contacts__block">
            <h4 class="contacts__title">Öffnungszeiten</h4>
            <time class="contacts__item contacts__item--time" datetime="T9H"><span class="contacts__text contacts__text--time">Montag - Freitag:</span><span class="contacts__text">09:00 - 18:00 Uhr</span></time>
            <time class="contacts__item contacts__item--time" datetime="T3H"><span class="contacts__text contacts__text--time">Samstag:</span><span class="contacts__text">09:00 - 12:00 Uhr</span></time>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>